In [17]:
import pandas as pd
from io import StringIO

In [2]:
data = '{"employee_name": "James", "email": "james@gmial.com", "job_profile": [{"title1":"Team Lead", "title2": "Sr. Developer"}]}'

In [3]:
type(data)

str

In [5]:
pd.read_json(data)

C:\Users\arpit\AppData\Local\Temp\ipykernel_2924\1661395064.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data)

,employee_name,email,job_profile
0,James,james@gmial.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [15]:
pd.read_json(data,orient='records')

C:\Users\arpit\AppData\Local\Temp\ipykernel_2924\2317705276.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data,orient='records')

,employee_name,email,job_profile
0,James,james@gmial.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [16]:
pd.read_json(data,orient='index')

C:\Users\arpit\AppData\Local\Temp\ipykernel_2924\131370662.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data,orient='index')

                                                               0
employee_name                                              James
email                                            james@gmial.com
job_profile    [{'title1': 'Team Lead', 'title2': 'Sr. Develo...

In [22]:
pd.read_json(data, orient="columns")

C:\Users\arpit\AppData\Local\Temp\ipykernel_2924\3033139034.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data, orient="columns")

,employee_name,email,job_profile
0,James,james@gmial.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [23]:
df= pd.DataFrame([['a', 'b'], ['c', 'd']],
                  index=['row1', 'row2'],
                  columns= ['col1', 'col2'])

In [24]:
df

     col1 col2
row1    a    b
row2    c    d

In [25]:
df.to_json()

'{"col1":{"row1":"a","row2":"c"},"col2":{"row1":"b","row2":"d"}}'

In [26]:
df.to_json(orient='index') #same output

'{"row1":{"col1":"a","col2":"b"},"row2":{"col1":"c","col2":"d"}}'

In [27]:
df.to_json(orient='columns')

'{"col1":{"row1":"a","row2":"c"},"col2":{"row1":"b","row2":"d"}}'

In [28]:
df.to_json(orient='records')

'[{"col1":"a","col2":"b"},{"col1":"c","col2":"d"}]'

In [29]:
df.to_json(orient='split')

'{"columns":["col1","col2"],"index":["row1","row2"],"data":[["a","b"],["c","d"]]}'

In [30]:
df.to_json(orient='table')

'{"schema":{"fields":[{"name":"index","type":"string"},{"name":"col1","type":"string"},{"name":"col2","type":"string"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":"row1","col1":"a","col2":"b"},{"index":"row2","col1":"c","col2":"d"}]}'

In [31]:
schema = '{"schema":{"fields":[{"name":"index","type":"string"},{"name":"col1","type":"string"},{"name":"col2","type":"string"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":"row1","col1":"a","col2":"b"},{"index":"row2","col1":"c","col2":"d"}]}'

In [32]:
pd.read_json(schema, orient="table")

C:\Users\arpit\AppData\Local\Temp\ipykernel_2924\3287308791.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(schema, orient="table")

     col1 col2
row1    a    b
row2    c    d

In [45]:
data = [{"employee_name": "James", "email": "james@gmial.com", "job_profile": [{"title1":"Team Lead", "title2": "Sr. Developer"}]}]

In [42]:
type(data)

list

In [38]:
pd.read_json(data)

C:\Users\arpit\AppData\Local\Temp\ipykernel_2924\1661395064.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data)

,employee_name,email,job_profile
0,James,james@gmial.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [41]:
pd.json_normalize(data)

,employee_name,email,job_profile
0,James,james@gmial.com,"[{'title1': 'Team Lead', 'title2': 'Sr. Develo..."

In [46]:
data1 = [
    {
    "id": 1,
    "name": "Cole Volk",
    "fitness": {"height": 130,"weight": 60},
},
{"name": "Mark Reg", "fitness": {"height":130, "weight":60}},
{
    "id":2,
    "name":"Faye Raker",
    "fitness": {"height":130, "weight":60},
},
]

In [47]:
pd.json_normalize(data1)

    id        name  fitness.height  fitness.weight
0  1.0   Cole Volk             130              60
1  NaN    Mark Reg             130              60
2  2.0  Faye Raker             130              60

In [50]:
pd.json_normalize(data1,max_level=0)

    id        name                        fitness
0  1.0   Cole Volk  {'height': 130, 'weight': 60}
1  NaN    Mark Reg  {'height': 130, 'weight': 60}
2  2.0  Faye Raker  {'height': 130, 'weight': 60}